#APPLE_TEAM_ID=ABCDE12345
NEXT_PUBLIC_BUNDLE_IDENTIFIER=app.reservapp-neighbors

#NEXT_PUBLIC_APP_REDIRECT_URL=yourapp://checkout_redirect/success
NEXT_PUBLIC_DOWNLOAD_URL=https://play.google.com/store/apps?hl=es
NEXT_PUBLIC_PADDLE_ENV=production # or `sandbox`
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
